<div class="panel panel-default">
    <div class="panel-heading">Ajout d'image au slider <%= @slider.name %></div>
    <div class="panel-body">
        <%= form_for @slider, html: {class: 'form-horizontal'} do |f| %>
            <div class="form-group">
                <%= f.label :largeur, "Largeur", class: 'col-md-4 control-label' %>
                <div class="col-md-6">
                    <%= f.text_field :largeur, class: 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :longueur, "Longueur", class: 'col-md-4 control-label' %>
                <div class="col-md-6">
                    <%= f.text_field :longueur, class: 'form-control' %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :image, "Nouvelle image", class: 'col-md-4 control-label' %>
                <div class="col-md-6">
                    <%= f.file_field :image, class: 'form-control' %>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">
                        Ajouter une image
                    </button>
                </div>
            </div>
        <% end %>
    </div>
</div>
