<div class="form-style-8">
  <h2>Carrousels List</h2>
    <% if @sliders.any? %>
    <table>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
      <% @sliders.each do |slider| %>
          <tr>
            <td><a href="<%= carrousel_path(slider.id)%>"><%= slider.carrouselName %></a></td>
            <td><a class="fa fa-edit" href="<%= edit_carrousel_path(slider.id)%>"/></td>
            <td><a class="fa fa-trash" href="<%= carrousel_path(slider.id) %>" data-confirm="Do you realy want to delete this gallery ?" data-method="DELETE"/></td>
          </tr>
          <%end%>
          <br/>
    </table>
    <br/>
    <br/>
    <br/>
    <% else %>
      <h4>No carrousels existing</h4>
    <% end %>
    <a class="button-blue-style-form-8 in-form-button-carrousels" href="<%= new_carrousel_path %>">Create Carrousel</a>
</div>
