<div class="form-style-8">
  <h2>Create Carrousel</h2>
  <%if @slider.errors.any? %>
    <ul>
      <% @slider.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <%end%>

  <%= form_for @slider do |f| %>
    <%= f.label "Carrousel Name" %>
    <%= f.text_field :carrouselName %>
    <%= f.label "Carrousel Type" %>

      <div>
        <%= f.radio_button :type_slide, "carrouselVer" %><span> Vertical </span><br/>
        <%= f.radio_button :type_slide, "carrouselHor" %><span> Horizontal  </span><br/>
      </div>
    <br/>
    <label for="carrousel_gallery">Carrousel Gallery:</label>
      <%= f.collection_select :gallery, @galleries.reject{|car| !car.carrousel_id.nil? }, :id, :galleryName, :prompt => "None" %><br/>
    <div id="images">
    </div>
    <p class="in-form-button"><%= f.submit %><p/>

  <% end %>
