<div class="form-style-8">
  <h2>Create Carrousel</h2>
  <%if @slider.errors.any? %>
    <ul>
      <% @slider.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <%end%>

   <%= form_for @slider do |f| %>

    <%= f.label "Name" %>
    <%= f.text_field :carrouselName %><br/>

    <%= f.label "Type" %><br/>
      <div>
        <%= f.radio_button :type_slide, "vertical" %><span>Vertical</span><br/>
        <%= f.radio_button :type_slide, "horizontal" %><span>Horizontal</span><br/>
      </div>
    <br/>
    
    <p class="in-form-button"><%= f.submit %><p/>
  <% end %>
</div>
