<%if @slider.errors.any? %>
  <ul>
    <% @slider.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<%end%>

<%= form_for @slider do |f| %>
<h1>Create Carrousel</h1>
  <%= f.label "Carrousel name" %><br/>
  <%= f.text_field :carrouselName %><br/>
  <%= f.label "Carrousel type" %><br/>
    <div>
      <%= f.radio_button :type_slide, "carrouselVer" %><span> vertical </span><br/>
      <%= f.radio_button :type_slide, "carrouselHor" %><span> horizontal  </span><br/>
    </div>
  <br/>
  <label for="carrousel_gallery">Galleries:</label>
    <%= f.collection_select :gallery, @galleries.reject{|car| !car.carrousel_id.nil? }, :id, :galleryName, :prompt => "None" %><br/>
  <div id="images">
  </div>
    <a href="<%= carrousels_path %>">Cancel</a>
  <%= f.submit %>

<% end %>
<div>
  <!-- AJAX call image gallery-preview from select -->
</div>
