<%
  if defined?(@slider.gallery.uploads)
  @slides = Hash.new
  @nbSlides = @slider.gallery.uploads.length

    @slider.gallery.uploads.order("slider_orders.order").each_with_index do |image, num|
        @slides.merge!({:"#{num+1}" => image.image(:original)})
    end
%>
<div id="<%=@slider.type_slide%>">
  <% @slides.each do |slide, img| %>
    <div id="slide<%= slide.to_s.to_i %>" class="slide">
      <div class="numSlide">
        <span><%= slide %>/<%= @nbSlides %></span>
      </div>
      <div class="visuel">
        <%= image_tag img , class:  @slider.img_class %>
      </div>
      <div class="title">
        Image
        <%= slide %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
