<!DOCTYPE html>
<html>
  <head>
    <title>Slider</title>
    <%= stylesheet_link_tag "slider/application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <div class="head">
    <div class="head center">
      <nav>
        <ul>
          <li>
            <a>Images</a>
            <ul>
              <li>
                <a href="<%= %>">Show images</a>
              </li>
              <li>
                <a href="<%= %>">Upload</a>
              </li>
            </ul>
          </li>
          <li>
            <a>Carrousels</a>
            <ul>
              <li>
                <a href="<%= carrousels_path %>">Carrousel list</a>
              </li>
              <li>
                <a href="<%= new_carrousel_path %>">Create Carrousels</a>
              </li>
            </ul>
          </li>
          <li>
            <a>Galleries</a>
            <ul>
              <li>
                <a href="<%= galleries_path %>">Gallery list</a>
              </li>
              <li>
                <a href="<%= new_gallery_path %>">Create Gallery</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <body>
    <div class="container">
      <% if flash[:success]  %>
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      <%end%>
      <% if flash[:danger]  %>
        <div class="alert alert-danger">
          <%= flash[:danger] %>
        </div>
      <%end%>
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag "slider/application" %>
</html>
