<!DOCTYPE html>
<html>
  <head>
    <title>Slider</title>
    <%= stylesheet_link_tag "slider/application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <nav class="head nav-head">
    <div class="container"></div>
  </nav>
  <body>
    <div class="container">
      <% if flash[:success]  %>
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      <%end%>
      <% if flash[:danger]  %>
        <div class="alert alert-danger">
          <%= flash[:danger] %>
        </div>
      <%end%>
      <%= yield %>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <%= javascript_include_tag "slider/application" %>
</html>
