<!DOCTYPE html>
<html>
  <head>
    <title>Slider</title>
    <%= stylesheet_link_tag "slider/application", media: "all" %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <div class="head">
    <div class="head center">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a>Images</a>
            <ul>
              <li>
                <a href="<%= image_list_path%>">Show images</a>
              </li>
              <li>
                <a href="<%= uploads_path %>">Upload</a>
              </li>
            </ul>
          </li>
          <li>
            <a>Carrousels</a>
            <ul>
              <li>
                <a href="<%= carrousels_path %>">Carrousel list</a>
              </li>
              <li>
                <a href="<%= new_carrousel_path %>">Create Carrousels</a>
              </li>
            </ul>
          </li>
          <li>
            <a>Galleries</a>
            <ul>
              <li>
                <a href="<%= galleries_path %>">Gallery list</a>
              </li>
              <li>
                <a href="<%= new_gallery_path %>">Create Gallery</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <body>
    <div class="container">
      <% if flash[:success]  %>
        <div class="alert alert-success">
          <%= flash[:success] %>
        </div>
      <%end%>
      <% if flash[:danger]  %>
        <div class="alert alert-danger">
          <%= flash[:danger] %>
        </div>
      <%end%>
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag "slider/application" %>
</html>
