<div class="form-style-8">
  <h2>Edit Gallery</h2>
  <%= form_for @gallery do |f| %>
    <%= f.hidden_field :id %>
    <%= f.label "Gallery name" %><br/>
    <%= f.text_field :galleryName %><br/>
    <%= f.label "Order" %><br/>
    <div id="order">
      <table>
        <tbody>
            <% @gallery.orders.order('slider_orders.order').each do |ord| %>
            <tr>
              <td>
                <%= ord.upload.image_file_name %>
              </td>
              <td>
                <%= f.fields_for ord, index: ord.upload.id do |o| %>
                  <%= o.text_field :order, class: "" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br/>
    <%= f.label "Current images" %><br/>
    <%= f.select :uploads, options_for_select(@gallery.uploads.order('slider_orders.order').map{ |im| [im.image_file_name, im.id, {'data-img-src'=>im.image(:thumb)}] },@gallery.uploads.pluck(:id)),{include_blank: 'None'},{ :multiple => true, class:"image-picker masonry" } %>
    <%= f.label "Free images" %><br/>
    <%= f.select :uploads, @images.map{ |im| [im.image_file_name, im.id, {'data-img-src'=>im.image(:thumb)}] },{include_blank: 'None'},{ :multiple => true, class:"image-picker masonry" } %>
    <p class="in-form-button"><%= f.submit %><p/>
  <% end %>
</div>
