<div class="form-style-8">
  <h2>Galleries List</h2>

  <% if @galleries.any? %>
  <table>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
    <% @galleries.each do |gallery| %>
        <tr>
          <td><%= gallery.galleryName %></td>
          <td><a class="fa fa-edit" href="<%= edit_gallery_path( gallery.id)%>"/></td>
          <td><a class="fa fa-trash" href="<%= gallery_path( gallery.id) %>" data-confirm="Do you realy want to delete this gallery ?" data-method="DELETE"/></td>
        </tr>
        <br/>
  </table>
  <br/>
  <br/>
  <br/>
  <a class="button-blue-style-form-8 in-form-button" href="<%= new_gallery_path %>">Create Gallery</a>
  <%end%>
  <% else %>
    <h4>No galleries existing</h4>
    <a class="button-blue-style-form-8 in-form-button" href="<%= new_gallery_path %>">Create Gallery</a>
  <% end %>
</div>
