<div class="form-style-8">
  <h2>Create Gallery</h2>
  <%if @gallery.errors.any? %>
    <ul>
      <% @gallery.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <%end%>
  <%= form_for @gallery do |f| %>
    <%= f.label "Gallery name" %><br/>
    <%= f.text_field :galleryName %><br/>
    <%= f.label "Order" %><br/>
<<<<<<< HEAD
    <div id="order" class="order-images"></div>
=======
    <div id="order"></div>
>>>>>>> 5c5bef8be2b0490f1dad286d7d94e942345c8cf7
    <br/>
    <%= f.label "Images" %>
    <%= f.select :uploads, @images.map{ |im| [im.image_file_name, im.id, {'data-img-src'=>im.image(:thumb)}] },{include_blank: 'None'},{ :multiple => true, class:"image-picker" } %>
    <p class="in-form-button"><%= f.submit %></p>
  <% end %>
</div>
